# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Cmake folders
cmake-build-debug

# VENVs
.venv

# Anything in the build dir is uneccessary
build/*

# Anything IDE related
*.idea

# Rom files (used for testing)
TestSuite/
*.8o

# Dunno
*.user

# Qt autosave
*.autosave
