name: CMake on multiple platforms

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, windows-latest]
        build_type: [Release]
        include:
          - os: windows-latest
            qt_arch: win64_msvc2019_64
            # No generator specified = Default (Visual Studio)
          - os: ubuntu-22.04
            qt_arch: gcc_64
            generator: "Unix Makefiles"

    steps:
    - uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.6.0'
        host: ${{ matrix.os == 'windows-latest' && 'windows' || 'linux' }}
        target: 'desktop'
        arch: ${{ matrix.qt_arch }}

    - name: Install System Dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0 x11-utils libfuse2

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install Conan
      run: pip install conan

    - name: Install Dependencies (Conan)
      shell: bash
      run: |
        conan profile detect
        conan install . --build=missing -s build_type=Release -s compiler.cppstd=17 \
        -c tools.system.package_manager:mode=install \
        -c tools.system.package_manager:sudo=True

    - name: Configure CMake
      shell: bash
      run: |
        if [ "${{ runner.os }}" == "Windows" ]; then
          cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DCMAKE_PREFIX_PATH="${{ github.workspace }}/build/Release/generators;${{ github.workspace }}/build/generators;${{ github.workspace }}"
        else
          cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -G "${{ matrix.generator }}" -DCMAKE_PREFIX_PATH="${{ github.workspace }}/build/Release/generators;${{ github.workspace }}/build/generators;${{ github.workspace }}"
        fi

    - name: Build
      shell: bash
      run: cmake --build build --config ${{ matrix.build_type }} --parallel

    - name: Test
      working-directory: build
      shell: bash
      run: ctest -C ${{ matrix.build_type }} --output-on-failure
